NAME      = "hook-confirmate-vm-running"
TYPE      = state
COMMAND   = "confirmate_vm_evidence.rb"
ARGUMENTS = "$TEMPLATE"
ARGUMENTS_STDIN = "YES"
ON        = CUSTOM
RESOURCE  = VM
STATE     = ACTIVE
LCM_STATE = RUNNING
