NAME      = "hook-clouditor-vm-done"
TYPE      = state
COMMAND   = "clouditor_vm_evidence.rb"
ARGUMENTS = "$TEMPLATE"
ARGUMENTS_STDIN = "YES"
ON        = CUSTOM
RESOURCE  = VM
STATE     = DONE
LCM_STATE = LCM_INIT
