NAME      = "hook-confirmate-image-ready"
TYPE      = state
COMMAND   = "confirmate_image_evidence.rb"
ARGUMENTS = "$TEMPLATE"
ARGUMENTS_STDIN = "YES"
ON        = CUSTOM
RESOURCE  = IMAGE
STATE     = READY
