NAME      = "hook-clouditor-vm-poweroff"
TYPE      = state
COMMAND   = "clouditor_vm_evidence.rb"
ARGUMENTS = "$TEMPLATE"
ARGUMENTS_STDIN = "YES"
ON        = CUSTOM
RESOURCE  = VM
STATE     = POWEROFF
LCM_STATE = LCM_INIT
